.btn {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 18px 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.primary,
  button.primary,
  input[type='submit'].primary,
  input[type='reset'].primary,
  input[type='button'].primary {
    color: var(--secondary-fore);
    background-color: var(--secondary);

    &:hover:enabled,
    &:focus:enabled {
      background-color: var(--secondary-hover);
    }
  }

  &.secondary,
  button.secondary,
  input[type='submit'].secondary,
  input[type='reset'].secondary,
  input[type='button'].secondary {
    color: var(--complement-fore);
    background-color: var(--complement);

    &:hover:enabled,
    &:focus:enabled {
      background-color: var(--complement-hover);
    }
  }
}
