.btn {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 18px 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  outline: 0;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.primary,
  button.primary,
  input[type='submit'].primary,
  input[type='reset'].primary,
  input[type='button'].primary {
    color: #fff;
    background-color: #f8d57e;

    &:hover:enabled,
    &:focus:enabled {
      background-color: lighten(#f8d57e, 8%);
    }
  }

  &.secondary,
  button.secondary,
  input[type='submit'].secondary,
  input[type='reset'].secondary,
  input[type='button'].secondary {
    color: #fff;
    background-color: #eceff2;

    &:hover:enabled,
    &:focus:enabled {
      background-color: darken(#eceff2, 5%);
    }
  }
}
