.header {
  margin-top: 0;
  margin-bottom: 2rem;

  &.primary {
    color: #2c2543;
  }

  &.secondary {
    color: #f8d57e;
  }
}

h1.header {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  font-weight: 300;
}

h2.header {
  font-size: 3.2rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
  font-weight: 400;
}

h3.header {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  font-weight: 600;
}
