.sb-show-main.sb-main-padded {
  padding: 0 !important;
}
.row > * {
  margin-right: 0.5rem;
}

h1.header {
  font-size: 14px;
  margin: 3rem 0 0.3rem 0;
  display: block;
  border-bottom: 1px solid black;
}

h1.header:first-child {
  margin-top: 0;
}
