.light {
  --primary: #2c2543;

  --secondary: #f8d57e;
  --secondary-fore: #1d2225;
  --secondary-hover: #e7b840;

  --complement: #eceff2;
  --complement-fore: #ffffff;
  --complement-hover: #c2c2c2;

  --bg-main: #ffffff;
  --bg-main-darken: #fafbfd;
  --bg-main-darken-hover: #d3d3d3;

  --input-bg: #ffffff;
  --iput-border: #d1d1d1;
  --input-focus: #33c3f0;
}

.dark {
  --primary: #cdd3de;

  --secondary: #f8d57e;
  --secondary-fore: #1d2225;
  --secondary-hover: #e7b840;

  --complement: #eceff2;
  --complement-fore: #ffffff;
  --complement-hover: #c2c2c2;

  --bg-main: #1d2225;
  --bg-main-darken: #343d43;
  --bg-main-darken-hover: #797979;

  --input-bg: #777777;
  --iput-border: #555555;
  --input-focus: #33c3f0;
}
