* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #2c2543;
}
