.themeSwitch {
  font-size: small;
  display: inline-block;
  background-color: var(--bg-main-darken);
  border-radius: 4px;
  border: 1px solid black;

  .switch {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-main-darken-hover);
    }

    &.active {
      background-color: var(--secondary);

      &:hover {
        background-color: var(--secondary-hover);
      }
    }
  }
}
