input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
textarea,
select {
  width: 100%;
  padding: 12px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;

  &:focus {
    border: 1px solid #33c3f0;
    outline: 0;
  }
}
