.nav-item {
  display: inline-block;

  &:hover {
    background-color: var(--secondary);
  }

  a {
    display: block;
    color: var(--primary);
    text-decoration: none;
    padding: 12px 20px;
  }
}
